services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file: .env
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  web:
    build: .
    volumes:
      - .:/app
      - /app/.venv
      - static_volume:/app/static
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - "8002:8000"

  celery_worker:
    build: .
    command: uv run celery -A core worker -l info
    volumes:
      - .:/app
      - /app/.venv
    env_file: .env
    depends_on:
      - db
      - redis

  celery_beat:
    build: .
    command: uv run celery -A core beat -l info
    volumes:
      - .:/app
      - /app/.venv
    env_file: .env
    depends_on:
      - db
      - redis
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/static:ro
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  static_volume:
  postgres_data: